@tailwind base;
@tailwind components;
@tailwind utilities;


.phone{
    /* box-shadow: 5px 5px 10px #5555; */
    filter:drop-shadow(20px 20px 2px #5555);
    border-radius: 20px;
}

html{
    scroll-behavior:smooth;
    scroll-padding:20px;
}

/* #list{
    position:sticky;
    top:5px;
} */

#apple{
background-color: rgb(212, 156, 156);
}

@media (min-width:640px){
    
}